.first{
            background-color: black;
            color: yellow;
}
.second{
    background-color: aqua;
    color: blue;
}
.third{
    color: yellowgreen;
    background-color: antiquewhite;

}